<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Collector Sample Open ID Connect Core - @ViewBag.Title</title>
</head>
<body>
    <h2>Collector Sample Open ID Connect using .NET Core</h2>
    <div>
        @RenderBody()
    </div>
</body>
</html>